<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="conainer text-center">
    <h1>is the new homepage</h1>

    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select>
        <br><br>
        <input type="checkbox" name="uppercase"> Uppercase
        <br><br>
        <input type="checkbox" name="numbers"> Numbers
        <br><br>
        <input type="checkbox" name="special"> Special Characters
        <br><br>
        <input class="btn btn-primary" type="submit" value="Generate Password">
    </form>
</div>