<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="conainer text-center">
    <h1>PASSWORD</h1>

    <h2 class="alert alert-success">Password Generated</h2>
    <p>
        <h3>{{password}}</h3>
    </p>
    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
</div>